---

---

<!-- ============================================ --><!--            FAQ389              --><!-- ============================================ -->
<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->
<section id="faq-389">
<div class="cs-container">
<div class="cs-content">
<span class="cs-topper">Asked questions</span>
<h2 class="cs-title">Frequently Asked Questions</h2>
<ul class="cs-faq-group">
<!-- Active class added as default -->
<li class="cs-faq-item active">
<button class="cs-button">
<span class="cs-button-text">
How much are house cleaning services?
</span>
</button>
<p class="cs-item-p">
Some cleaning plans require a minimum commitment term. Cancelling your plan before the minimum term is complete will result in a $99 fee. If you want to learn more information about how to cancel, please inbox us.
</p>
</li>
<li class="cs-faq-item">
<button class="cs-button">
<span class="cs-button-text">
What is your plan cancellation policy?
</span>
</button>
<p class="cs-item-p">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam.
</p>
</li>
<li class="cs-faq-item">
<button class="cs-button">
<span class="cs-button-text">
How long should a house cleaning take?
</span>
</button>
<p class="cs-item-p">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam.
</p>
</li>
<li class="cs-faq-item">
<button class="cs-button">
<span class="cs-button-text">
How much are house cleaning services?
</span>
</button>
<p class="cs-item-p">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam.
</p>
</li>
<li class="cs-faq-item">
<button class="cs-button">
<span class="cs-button-text">
Can cleanings be scheduled?
</span>
</button>
<p class="cs-item-p">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam.
</p>
</li>
</ul>
</div>
<div class="cs-stats-group">
<!--Paint Splash-->
<img class="cs-splash" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/FAQ/grey-paint-splatter.svg" alt="paint icon" width="630" height="647">
<!--Orange Blob-->
<img class="cs-orange" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/FAQ/orange-blob.svg" alt="orange blob" width="305" height="343">
<div class="cs-stat cs-stat1">
<picture class="cs-icon-wrapper">
<img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/FAQ/staff.svg" alt="icon" width="38" height="40">
</picture>
<span class="cs-number">6</span>
<span class="cs-desc">Cleaning Staff</span>
</div>
<!--Blue Blob-->
<img class="cs-blue" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/FAQ/blue-blob.svg" alt="blue blob" width="343" height="305">
<div class="cs-stat cs-stat2">
<picture class="cs-icon-wrapper">
<img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/FAQ/thumbs.svg" alt="icon" width="40" height="40">
</picture>
<span class="cs-number">150</span>
<span class="cs-desc">Satisfied Clients</span>
</div>
<!--Grey Blob-->
<img class="cs-grey" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/FAQ/grey-blob.svg" alt="grey blob" width="305" height="343">
<div class="cs-stat cs-stat3">
<picture class="cs-icon-wrapper">
<img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/FAQ/mop.svg" alt="icon" width="40" height="40">
</picture>
<span class="cs-number">250</span>
<span class="cs-desc">Projects Completed</span>
</div>
</div>
</div>
</section>


<script>
    const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }
</script>


<script>
    const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }
</script>


<style lang="less">
    /*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-389 {
        padding: var(--sectionPadding);
        background: #f7f7f7;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 40px - 48px */
            gap: clamp(2.5rem, 5vw, 3rem);
        }

        .cs-content {
            text-align: left;
            max-width: (522/16rem);
        }

        .cs-title {
            margin: 0 0 (24/16rem) 0;
        }

        .cs-faq-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            border-bottom: 1px solid #e8e8e8;
            transition: border-bottom 0.3s;

            &.active {
                border-color: var(--primaryLight);
                .cs-button {
                    color: var(--primary);
                    &:before {
                        background-color: var(--primaryLight);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--primaryLight);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 clamp(1rem, 2vw, 1.5rem)
                        clamp(1.25rem, 1.3vw, 1.5rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            /* 16px - 20px */
            padding: clamp(1rem, 1.3vw, 1.25rem);
            border: none;
            background: transparent;
            color: var(--headerColor);
            display: block;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: (24/16rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: (21/16rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }

        .cs-stats-group {
            /* scaling entire section down. font-size starts at a min in vw, and stops
               when that value reaches 1em (16px). Since we want the picture elements to base their
               font size on the parent and not the root, we use ems for this entire section  */
            font-size: ~"min(2.35vw, .8em)";
            width: (630/16em);
            height: (682/16em);
            position: relative;
            z-index: 1;
        }

        .cs-splash {
            width: (630/16em);
            height: (647/16em);
            position: absolute;
            bottom: (18/16em);
            left: 0;
        }

        .cs-orange {
            width: (305/16em);
            height: (343/16em);
            position: absolute;
            top: 0;
            left: 0;
        }

        .cs-blue {
            width: (305/16em);
            height: (343/16em);
            position: absolute;
            top: (94/16em);
            right: 0;
        }

        .cs-grey {
            width: (343/16em);
            height: (305/16em);
            position: absolute;
            bottom: (0/16em);
            left: 0;
        }

        .cs-stat {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-stat1 {
            top: (74/16em);
            /* 50px - 90px */
            left: clamp(3.125em, 9vw + 2em, 5.625em);
        }

        .cs-stat2 {
            top: (176/16em);
            /* 50px - 93px */
            right: clamp(3.125em, 9vw + 2em, 5.8125em);
        }

        .cs-stat3 {
            bottom: (64/16em);
            /* 50px - 105px */
            left: clamp(3.125em, 9vw + 2em, 6.5625em);
        }

        .cs-icon-wrapper {
            width: (80/16em);
            height: (80/16em);
            margin-bottom: (16/16em);
            border: 1px solid #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: auto;
            height: (40/16em);
        }

        .cs-number {
            font-size: (49/16em);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: #fff;
            display: block;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: #fff;
            display: block;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-389 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: (52/16rem);
        }

        .cs-stats-group {
            /* reset the scale */
            font-size: ~"min(1.2vw, 1em)";
            /* prevents flexbox from squishing it */
            flex: none;
            /* sends it to the left */
            order: -1;
        }

        .cs-title,
        .cs-topper {
            text-align: left;
            margin-left: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #faq-389 {
            background-color: var(--medium) rgba(0, 0, 0, 0.2);
            .cs-splash {
                opacity: 0.2;
            }
            .cs-orange,
            .cs-blue {
                filter: brightness(70%);
            }
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-item-p {
                color: var(--bodyTextColorWhite);
            }

            .cs-faq-item {
                border-color: rgba(255, 255, 255, 0.2);
                &.active {
                    border-color: var(--primaryLight);
                    .cs-button {
                        color: var(--primaryLight);
                        &:before,
                        &:after {
                            background-color: var(--primaryLight);
                        }
                    }
                }
            }

            .cs-button {
                color: var(--bodyTextColorWhite);
                &:before,
                &:after {
                    background-color: var(--bodyTextColorWhite);
                }
            }
        }
    }
}
</style>
