---

---

<!-- ============================================ --><!--                 Side By Side                 --><!-- ============================================ -->
<section id="sbs-364">
    <div class="cs-container">
        <div class="cs-image-group">
            <!-- SVG Paint Splash-->
            <img
                class="cs-splash"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/paint-splash2.svg"
                alt="paint graphic"
                width="785"
                height="759"
            />

            <!-- Maid Picture -->
            <!-- To make your own crops of people, use this tool to remove the backgorund of images https://www.remove.bg/ -->
            <picture class="cs-person">
                <source
                    media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaner2.png"
                />
                <source
                    media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaner2.png"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaner2.png"
                    alt="maid"
                    width="743"
                    height="759"
                    aria-hidden="true"
                />
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">We Provide Best Cleaning Service Provider</h2>
            <p class="cs-text">
                Our mission is not only to meet your expectations but to exceed
                them, we also provide many more like condos and apartment
                cleaning. Our unique 22-Step Healthy Touch Deep Cleaning System
                will ensure you’ll receive a healthy, thorough housecleaning
                with every visit. We use cleaning products that are friendly to
                the environment.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">Praesent feugiat sem mattis.</li>
                <li class="cs-li">Praesent feugiat sem mattis.</li>
                <li class="cs-li">Praesent feugiat sem mattis.</li>
                <li class="cs-li">Praesent feugiat sem mattis.</li>
            </ul>
            <a href="" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-364">
    <div class="cs-container">
        <div class="cs-image-group">
            <!-- SVG Paint Splash-->
            <img
                class="cs-splash"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/blue-splash.svg"
                alt="paint graphic"
                width="785"
                height="759"
            />

            <!-- Maid Picture -->
            <!-- To make your own crops of people, use this tool to remove the backgorund of images https://www.remove.bg/ -->
            <picture class="cs-person">
                <source
                    media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaner3.png"
                />
                <source
                    media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaner3.png"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaner3.png"
                    alt="maid"
                    width="562"
                    height="759"
                    aria-hidden="true"
                />
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">We Provide Best Cleaning Service Provider</h2>
            <p class="cs-text">
                Our mission is not only to meet your expectations but to exceed
                them, we also provide many more like condos and apartment
                cleaning. Our unique 22-Step Healthy Touch Deep Cleaning System
                will ensure you’ll receive a healthy, thorough housecleaning
                with every visit. We use cleaning products that are friendly to
                the environment.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">Praesent feugiat sem mattis.</li>
                <li class="cs-li">Praesent feugiat sem mattis.</li>
                <li class="cs-li">Praesent feugiat sem mattis.</li>
                <li class="cs-li">Praesent feugiat sem mattis.</li>
            </ul>
            <a href="" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
</section>

<style>
    /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #sbs-364,
        #sbsr-364 {
            padding: var(--sectionPadding);
            overflow: hidden;
        }
        #sbs-364 .cs-container,
        #sbsr-364 .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: 34.375rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }
        #sbs-364 .cs-content,
        #sbsr-364 .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: 32.625rem;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        #sbs-364 .cs-text,
        #sbsr-364 .cs-text {
            margin-bottom: 1rem;
        }
        #sbs-364 .cs-text:last-of-type,
        #sbsr-364 .cs-text:last-of-type {
            margin-bottom: 2rem;
        }
        #sbs-364 .cs-ul,
        #sbsr-364 .cs-ul {
            width: 100%;
            margin: 0 0 2rem 0;
            padding: 0 0 0 1.25rem;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
        }
        #sbs-364 .cs-li,
        #sbsr-364 .cs-li {
            font-size: 1rem;
            line-height: 1.5em;
            list-style: none;
            margin-right: 0;
            color: var(--bodyTextColor);
            position: relative;
        }
        #sbs-364 .cs-li:before,
        #sbsr-364 .cs-li:before {
            /* bullets */
            content: "";
            width: 0.25rem;
            height: 0.25rem;
            border-radius: 50%;
            background: currentColor;
            opacity: 1;
            position: absolute;
            display: block;
            top: 0.5625rem;
            left: -0.9375rem;
        }
        #sbs-364 .cs-button-solid,
        #sbsr-364 .cs-button-solid {
            font-size: 1rem;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: 9.375rem;
            padding: 0 1.5rem;
            background-color: var(--primary);
            border-radius: 0.25rem;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
        }
    }
</style>
