---
---

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-358">
    <div class="cs-container">
        <div class="cs-flex-group">
            <span class="cs-topper">Professional</span>
            <h1 class="cs-title">Quality Solutions in Home Cleaning</h1>
            <p class="cs-text">
                We are committed to the best quality in the field of industrial cleaning, home and garden cleaning.
            </p>
            <div class="cs-button-group">
                <a href="" class="cs-button-solid">Get Started</a>
                <a href="" class="cs-button-transparent">
                    <picture class="cs-picture">
                        <img class="cs-img" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/phone-white.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-content">
                        <span class="cs-tag">Call Anytime</span>
                        <span class="cs-number">(+123) 5462 3257</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="cs-image-group">
            <!--Icon Cirlce Group-->
            <picture class="cs-icon-wrapper">
                <img class="cs-icon" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/mop-white.svg" alt="icon" width="52" height="52" aria-hidden="true">
            </picture>

            <!-- SVG Paint Splash-->
            <img class="cs-splash" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/paint-splash.svg" alt="icon" width="792" height="616" aria-hidden="true">

            <!-- Maid Picture -->
            <!-- To make your own crops of people, use this tool to remove the backgorund of images https://www.remove.bg/ -->
            <picture class="cs-person">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/maid.png">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/maid.png">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/maid.png" alt="maid" width="831" height="674">
            </picture>
        </div>
    </div>
</section>

<style>
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-358 {
        /* Centers button */
        text-align: center;
        /* 150px - 350px */
        padding: clamp(9rem, 25.95vw, 21.875rem) 1rem;
        padding-bottom: 0;
        position: relative;
        z-index: 1;
        /* prevents overflow from the lines extending past the screen width */
        overflow: hidden;
    }
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-1em);
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-1em);
        }
        100% {
            transform: translateY(0);
        }
    }
    #hero-358 .cs-background {
        /* Background Image */
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }
    #hero-358 .cs-background:before {
        /* White Color Overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.85;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
        /* prevents the cursor from interacting with it */
        pointer-events: none;
    }
    #hero-358 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes image act like a background-image */
        object-fit: cover;
        /* places the top of the image at the top of the parent */
        object-position: top;
    }
    #hero-358 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* 48px - 64px */
        gap: clamp(3rem, 7vw, 4rem);
    }
    #hero-358 .cs-flex-group {
        max-width: 39.125rem;
        margin: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    #hero-358 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
</style>
