---
---

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-361">
    <div class="cs-container">
        <!--Left Section-->
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <h2 class="cs-title">Expert Cleaning Service You Can Trust</h2>
            <p class="cs-text">
                At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods.
            </p>
            <!--Image of cleaners-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaners-m.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaners.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaners.jpg" alt="cleaners" width="275" height="132">
            </picture>
        </div>
        <!--Cards-->
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/person-blue.svg" alt="icon" width="48" height="48">
                    <!--Create a span to make more bubbles with pesudo elements-->
                    <span class="cs-bubble" aria-hidden="true"></span>
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Expert Employee</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations to transform their company to become relevant of helped thousands.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/hand-blue.svg" alt="icon" width="48" height="48">
                    <!--Create a span to make more bubbles with pesudo elements-->
                    <span class="cs-bubble" aria-hidden="true"></span>
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Affordable Package</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations to transform their company to become relevant of helped thousands.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/stars-thumbs.svg" alt="icon" width="48" height="48">
                    <!--Create a span to make more bubbles with pesudo elements-->
                    <span class="cs-bubble" aria-hidden="true"></span>
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">100% Satisfaction</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations to transform their company to become relevant of helped thousands.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
                                

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-361">
    <div class="cs-container">
        <!--Left Section-->
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <h2 class="cs-title">Expert Cleaning Service You Can Trust</h2>
            <p class="cs-text">
                At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods.
            </p>
            <!--Image of cleaners-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaners-m.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaners.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaners.jpg" alt="cleaners" width="275" height="132">
            </picture>
        </div>
        <!--Cards-->
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/person-blue.svg" alt="icon" width="48" height="48">
                    <!--Create a span to make more bubbles with pesudo elements-->
                    <span class="cs-bubble" aria-hidden="true"></span>
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Expert Employee</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations to transform their company to become relevant of helped thousands.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/hand-blue.svg" alt="icon" width="48" height="48">
                    <!--Create a span to make more bubbles with pesudo elements-->
                    <span class="cs-bubble" aria-hidden="true"></span>
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Affordable Package</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations to transform their company to become relevant of helped thousands.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/stars-thumbs.svg" alt="icon" width="48" height="48">
                    <!--Create a span to make more bubbles with pesudo elements-->
                    <span class="cs-bubble" aria-hidden="true"></span>
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">100% Satisfaction</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations to transform their company to become relevant of helped thousands.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

<style>
/*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-361,
    #RPsbsr-361 {
        padding: var(--sectionPadding);
    }
    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-4px);
        }
        70% {
            transform: translateY(4px);
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes InAndOut {
        0% {
            transform: translateY(2.5rem) scale(1);
            opacity: 1;
        }
        30% {
            transform: translateY(1.25rem) scale(0.8);
            opacity: 1;
        }
        60% {
            transform: translateY(0.625rem) scale(0.5);
            opacity: 1;
        }
        100% {
            transform: translateY(0rem) scale(0.5);
            opacity: 0;
        }
    }
    @keyframes InAndOut2 {
        0% {
            transform: translateY(3.125rem) scale(1);
            opacity: 1;
        }
        30% {
            transform: translateY(2.5rem) scale(1);
            opacity: 1;
        }
        60% {
            transform: translateY(1.25rem) scale(0.6);
            opacity: 1;
        }
        100% {
            transform: translateY(0rem) scale(0.4);
            opacity: 0;
        }
    }
    #RPsbs-361 .cs-container,
    #RPsbsr-361 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375em;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* 48px - 56px */
        gap: clamp(3rem, 7vw, 3.5rem);
    }
    #RPsbs-361 .cs-container,
    #RPsbsr-361 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #RPsbs-361 .cs-content,
    #RPsbsr-361 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #RPsbs-361 .cs-title,
    #RPsbsr-361 .cs-title {
        max-width: 20ch;
    }
</style>
