---

---

<!-- ============================================ --><!--            CTA385              --><!-- ============================================ -->
<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->
<section id="cta-385">
<div class="cs-container">
<div class="cs-content">
<span class="cs-topper">Our Team</span>
<h2 class="cs-title">Do you need a perfect cleaning?</h2>
<p class="cs-text">
We love what we do and we do it with passion. We value the experimentation of the smart incentives.
</p>
<a href="" class="cs-button-solid">Get A Quote</a>
</div>
<div class="cs-image-group">
<!--Powder Image-->
<picture class="cs-powder">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/powder.png">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/powder.png">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/powder.png" alt="powder" width="485" height="460" aria-hidden="true">
</picture>
<!--Bucket Image-->
<picture class="cs-bucket">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/bucket.png">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/bucket.png">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/bucket.png" alt="bucket" width="543" height="437" aria-hidden="true">
</picture>
</div>
</div>
<!--Background Image-->
<picture class="cs-background">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/fabric-m.png">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/fabric.png">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/fabric.png" alt="fabric" width="1920" height="660" aria-hidden="true">
</picture>
</section>


<style lang="less">
    /*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-385 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-background {
            width: 100%;
            height: 100%;
            opacity: 0.5;
            background-blend-mode: multiply;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (434/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* everything is in ems so we can scale the container down with a font size */
            font-size: ~"min(2.6vw, .8em)";
            width: (543/16em);
            height: (460/16em);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-bucket {
            width: (543/16em);
            height: auto;
            display: block;
            position: relative;

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-powder {
            width: (485/16em);
            height: auto;
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            z-index: -1;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cta-385 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-image-group {
            font-size: ~"min(1.45vw, 1em)";
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cta-385 {
            .cs-background {
                opacity: 0.25;
                /* brighten the image to be whiter and show up against dark background */
                filter: grayscale(1) brightness(2000%);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}
</style>
