---

---

<!-- ============================================ --><!--            Pricing387              --><!-- ============================================ -->
<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->
<section id="pricing-387">
<div class="cs-container">
<div class="cs-content">
<span class="cs-topper">Pricing</span>
<h2 class="cs-title">It’s Easy to Get Started</h2>
<p class="cs-text">
At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
</p>
<div class="cs-toggle-group">
<span id="cs-option1-387" class="cs-plan">Weekly</span>
<div class="cs-toggle" aria-label="click to switch plans pricing">
<span aria-hidden="true" class="cs-toggle-switch"></span>
</div>
<span id="cs-option2-387" class="cs-plan">Monthly</span>
</div>
</div>
<ul class="cs-card-group">
<!-- Option 2 -->
<li class="cs-item cs-popular">
<div class="cs-top-section">
<div class="cs-flex">
<h3 class="cs-h3">Standard</h3>
<p class="cs-item-text">
Perfect to get started.
</p>
</div>
<div class="cs-option-group">
<span class="cs-price cs-option1-text">$69<span class="cs-small">/week</span></span>
<span class="cs-price cs-option2-text">$327<span class="cs-small">/month</span></span>
</div>
</div>
<span class="cs-included">Package Includes</span>
<ul class="cs-ul">
<li class="cs-li">
<img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
All available starter feature
</li>
<li class="cs-li">
<img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
Home service 24/7
</li>
<li class="cs-li">
<img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
Customer agent service
</li>
<li class="cs-li">
<img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
Professional cleaner
</li>
<li class="cs-li cs-disabled">
<img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
2 bed room cleaning
</li>
<li class="cs-li cs-disabled">
<img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
2 bed, living room cleaning
</li>
</ul>
<a href="/basic.html" class="cs-button-solid">Get Started</a>
</li>
<!-- Option 3 -->
<li class="cs-item">
<div class="cs-top-section">
<div class="cs-flex">
<h3 class="cs-h3">Ultimate</h3>
<p class="cs-item-text">
Perfect to get started.
</p>
</div>
<div class="cs-option-group">
<span class="cs-price cs-option1-text">$99<span class="cs-small">/week</span></span>
<span class="cs-price cs-option2-text">$327<span class="cs-small">/month</span></span>
</div>
</div>
<span class="cs-included">Package Includes</span>
<ul class="cs-ul">
<li class="cs-li">
<img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
All available starter feature
</li>
<li class="cs-li">
<img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
Home service 24/7
</li>
<li class="cs-li">
<img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
Customer agent service
</li>
<li class="cs-li">
<img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
Professional cleaner
</li>
<li class="cs-li">
<img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
2 bed room cleaning
</li>
<li class="cs-li">
<img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
2 bed, living room cleaning
</li>
</ul>
<a href="/basic.html" class="cs-button-solid">Get Started</a>
</li>
</ul>
</div>
</section>


<script>
    const toggle = document.querySelector("#pricing-387 .cs-toggle");
        const option1 = document.querySelector("#pricing .cs-toggle-group #cs-option1");
        const option2 = document.querySelector("#pricing .cs-toggle-group #cs-option2");
        const optionGroup = Array.from(document.querySelectorAll('.cs-option-group'))

        toggle.addEventListener('click', (e) => { 
            for (const item of optionGroup) {
                item.classList.toggle("option2-active");
            }
            toggle.classList.toggle("active");
        });
        option1.addEventListener('click', (e) => { 
            for (const item of optionGroup) {
                item.classList.remove("option2-active");
            }
            toggle.classList.remove("active");
        });
        option2.addEventListener('click', (e) => { 
            for (const item of optionGroup) {
                item.classList.add("option2-active");
            }
            toggle.classList.add("active");
        });
</script>


<script>
    const toggle = document.querySelector("#pricing-387 .cs-toggle");
        const option1 = document.querySelector("#pricing .cs-toggle-group #cs-option1");
        const option2 = document.querySelector("#pricing .cs-toggle-group #cs-option2");
        const optionGroup = Array.from(document.querySelectorAll('.cs-option-group'))

        toggle.addEventListener('click', (e) => { 
            for (const item of optionGroup) {
                item.classList.toggle("option2-active");
            }
            toggle.classList.toggle("active");
        });
        option1.addEventListener('click', (e) => { 
            for (const item of optionGroup) {
                item.classList.remove("option2-active");
            }
            toggle.classList.remove("active");
        });
        option2.addEventListener('click', (e) => { 
            for (const item of optionGroup) {
                item.classList.add("option2-active");
            }
            toggle.classList.add("active");
        });
</script>


<style lang="less">
    /*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile 360px */
@media only screen and (min-width: 0rem) {
    #pricing-387 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: (650/16rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-text {
            /* 48px - 64px */
            margin-bottom: clamp(3rem, 3vw, 4rem);
        }

        .cs-toggle-group {
            width: (200/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-plan {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            padding: 0;
            color: var(--headerColor);
            &:hover {
                cursor: pointer;
            }
        }

        .cs-toggle {
            width: (56/16rem);
            height: (28/16rem);
            border-radius: (40/16rem);
            background-color: var(--primary);
            margin: 0 (12/16rem);
            position: relative;
            /* prevent flexbox from squishing it */
            flex: none;

            &:hover {
                cursor: pointer;
            }

            &.active {
                &:before {
                    opacity: 1;
                }
                .cs-toggle-switch {
                    left: (32/16rem);
                }
            }

            &:before {
                /* top right box */
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    90deg,
                    #ffba43 -24.69%,
                    #e12213 126.23%
                );
                opacity: 0;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                border-radius: (40/16rem);
                transition: opacity 0.3s;
            }
        }

        .cs-toggle-switch {
            width: (20/16rem);
            height: (20/16rem);
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: (4/16rem);
            transition: left 0.3s;
            background: #fff;
        }

        .cs-option-group {
            position: relative;
            /* these two create the 3D illusion */
            perspective: 700px;
            transform-style: preserve-3d;

            &.option2-active {
                .cs-option1-text {
                    opacity: 0;
                    transform: scaleY(0);
                }
                .cs-option2-text {
                    top: 0;
                    opacity: 1;
                }
            }
        }

        .cs-option1-text {
            transform-origin: center center;
            transition:
                opacity 0.3s,
                transform 0.3s;
        }

        #cs-option2-387 {
            position: relative;
            &:before {
                /* squiggle arrow */
                content: "";
                position: absolute;
                display: block;
                height: (28/16rem);
                width: (28/16rem);
                background: url("https://csimg.nyc3.digitaloceanspaces.com/Pricing/sqiggle-arrow.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 1;
                top: (-5/16rem);
                right: (-32/16rem);
            }

            &:after {
                /* percentage off */
                content: "30% off";
                font-size: (12/16rem);
                line-height: (26/16rem);
                text-transform: uppercase;
                font-weight: 500;
                width: auto;
                height: (26/16rem);
                padding: 0 (12/16rem);
                border-radius: (8/16rem);
                background: #e5f2ff;
                box-sizing: border-box;
                color: var(--primary);
                opacity: 1;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: (-30/16rem);
                right: (-68/16rem);
            }
        }

        .cs-option2-text {
            /* push the text down, outside of the group wrapper and animate back up */
            opacity: 0;
            position: absolute;
            left: 0;
            top: (30/16rem);
            transition:
                opacity 0.3s,
                top 0.6s cubic-bezier(0.42, 0, 0.16, 1.39);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            /* 20px - 32px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1.25rem, 3vw, 2rem) clamp(1rem, 2.4vw, 2rem);
            width: 100%;
            max-width: (630/16rem);
            border-radius: (16/16rem);
            background: #fff;
            border: 1px solid #e8e8e8;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;

            &:nth-of-type(2) {
                background-color: #f7f7f7;
                .cs-option2-text,
                .cs-option1-text {
                    transition-delay: 0.1s;
                }
            }
        }

        .cs-popular {
            background: var(--primary);
            position: relative;
            /* clips the popular tag */
            overflow: hidden;
            /* send to the top */
            order: -1;

            &:before {
                /* Most Popular Tag */
                content: "Popular";
                font-size: (14/16rem);
                text-align: center;
                line-height: (29/16rem);
                font-weight: 700;
                width: (170/16rem);
                padding: 0 (12/16rem);
                color: var(--bodyTextColorWhite);
                background-color: var(--secondary);
                position: absolute;
                display: block;
                top: (20/16rem);
                right: (-60/16rem);
                transform: rotate(42deg);
            }

            .cs-h3,
            .cs-item-text,
            .cs-price,
            .cs-included,
            .cs-li,
            .cs-small {
                color: var(--bodyTextColorWhite);
            }

            .cs-button-solid {
                background-color: #fff;
                color: var(--primary);
                transition: color 0.3s;

                &:before {
                    background-color: var(--secondary);
                }

                &:hover {
                    color: #fff;
                }
            }

            .cs-li-img {
                /* turns the check mark white */
                filter: brightness(900%);
            }
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (4/16rem);
            padding: 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (14/16rem);
            line-height: 1.5em;
            /* 16px - 24px */
            margin: 0 0 clamp(1rem, 2vw, 1.5rem);
            padding: 0;
            color: var(--bodyTextColor);
        }

        .cs-option-group {
            position: relative;
            &:after {
                /* top right box */
                content: "";
                width: 100%;
                height: 1px;
                /* 32px - 40px */
                margin-bottom: clamp(2rem, 4vw, 2.5rem);
                background: linear-gradient(
                    90deg,
                    rgba(232, 232, 232, 0.2) 0%,
                    #e8e8e8 53.78%,
                    rgba(232, 232, 232, 0.2) 100%
                );
                opacity: 1;
                position: relative;
                display: block;
            }
        }

        .cs-price {
            font-size: (49/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin-bottom: (24/16rem);
            color: var(--headerColor);
            /* spans are inline, need to add block for margin to work */
            display: block;
        }

        .cs-small {
            font-size: (14/16rem);
            font-weight: 400;
            color: #4e4b66;
        }

        .cs-included {
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 700;
            /* 16px - 24px */
            margin-bottom: clamp(1rem, 3vw, 1.5rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-ul {
            padding: 0;
            margin: 0;
            /* 32px - 40px */
            margin-bottom: clamp(2rem, 4vw, 2.5rem);
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            list-style: none;
            padding: 0;
            margin: 0 0 (12/16rem);
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-disabled {
            /* fades out list items that are disabled from the price tier */
            filter: grayscale(1);
            opacity: 0.3;
        }

        .cs-li-img {
            width: (20/16rem);
            height: auto;
            margin-top: (3/16rem);
            margin-right: (8/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid {
            width: 100%;
            margin: 0 0 (16/16rem) 0;
        }
    }
}

/* Tablet 768px */
@media only screen and (min-width: 48rem) {
    #pricing-387 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            flex-wrap: nowrap;
        }

        .cs-item {
            width: 100%;
            /* ensures they stay the same height if you add more content */
            align-self: stretch;
        }

        .cs-popular {
            /* send back to its original order */
            order: unset;
        }

        #cs-option2-387 {
            &:before {
                top: (-10/16rem);
            }
            &:after {
                top: (-35/16rem);
                right: (-100/16rem);
            }
        }
    }
}

/* Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #pricing-387 {
        .cs-top-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            &:after {
                /* top right box */
                content: "";
                width: 100%;
                height: 1px;
                /* 32px - 40px */
                margin-bottom: clamp(2rem, 4vw, 2.5rem);
                background: linear-gradient(
                    90deg,
                    rgba(232, 232, 232, 0.2) 0%,
                    #e8e8e8 53.78%,
                    rgba(232, 232, 232, 0.2) 100%
                );
                opacity: 1;
                position: relative;
                display: block;
            }
        }
        .cs-option-group {
            margin-right: (80/16rem);
            &:after {
                display: none;
            }
        }
        .cs-ul {
            /* splits the list into 2 columns */
            columns: 2;
            column-gap: (110/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-387 {
            background-color: var(--dark);
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-plan {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background: var(--accent);
                border-color: var(--medium);
            }
            .cs-popular {
                background: var(--primary);
            }

            .cs-h3,
            .cs-item-text,
            .cs-price,
            .cs-included,
            .cs-li,
            .cs-small {
                color: var(--bodyTextColorWhite);
            }

            .cs-li-img {
                /* make so bright it turns white */
                filter: brightness(900%) grayscale(1);
            }
        }
    }
}
</style>
