---

---

<!-- ============================================ --><!--            Gallery380              --><!-- ============================================ -->
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->
<section id="gallery-380">
<div class="cs-container">
<div class="cs-content">
<span class="cs-topper">Our Portfolio</span>
<h2 class="cs-title">Some Work from Our Memorable Gallery</h2>
<p class="cs-text">
At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
</p>
</div>
<div class="cs-gallery">
<a class="cs-item" href="">
<div class="cs-hover-box">
<picture class="cs-icon" aria-hidden="true">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
</picture>
<h3 class="cs-h3">House Cleaning</h3>
</div>
<picture class="cs-image">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery1.jpg">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery1.jpg">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery1.jpg" alt="gallery" width="305" height="400">
</picture>
</a>
<a class="cs-item" href="">
<div class="cs-hover-box">
<picture class="cs-icon" aria-hidden="true">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
</picture>
<h3 class="cs-h3">House Cleaning</h3>
</div>
<picture class="cs-image">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery2.jpg">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery2.jpg">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery2.jpg" alt="gallery" width="305" height="400">
</picture>
</a>
<a class="cs-item" href="">
<div class="cs-hover-box">
<picture class="cs-icon" aria-hidden="true">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
</picture>
<h3 class="cs-h3">House Cleaning</h3>
</div>
<picture class="cs-image">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery3.jpg">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery3.jpg">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery3.jpg" alt="gallery" width="305" height="400">
</picture>
</a>
<a class="cs-item" href="">
<div class="cs-hover-box">
<picture class="cs-icon" aria-hidden="true">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
</picture>
<h3 class="cs-h3">House Cleaning</h3>
</div>
<picture class="cs-image">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery4.jpg">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery4.jpg">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery4.jpg" alt="gallery" width="305" height="400">
</picture>
</a>
<a class="cs-item" href="">
<div class="cs-hover-box">
<picture class="cs-icon" aria-hidden="true">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
</picture>
<h3 class="cs-h3">House Cleaning</h3>
</div>
<picture class="cs-image">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery5.jpg">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery5.jpg">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery5.jpg" alt="gallery" width="305" height="400">
</picture>
</a>
<a class="cs-item" href="">
<div class="cs-hover-box">
<picture class="cs-icon" aria-hidden="true">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
</picture>
<h3 class="cs-h3">House Cleaning</h3>
</div>
<picture class="cs-image">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery6.jpg">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery6.jpg">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery6.jpg" alt="gallery" width="305" height="400">
</picture>
</a>
</div>
</div>
</section>


<style lang="less">
    /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-380 {
        padding: var(--sectionPadding);
    }
    #gallery-380 .cs-container {
        width: 100%;
        max-width: 75rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #gallery-380 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #gallery-380 .cs-gallery {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* 16px - 20px */
        gap: clamp(1rem, 1.5vw, 1.25rem);
    }
    #gallery-380 .cs-item {
        list-style: none;
        height: 100%;
        width: 100%;
        max-width: 21.875rem;
        position: relative;
    }
    #gallery-380 .cs-image {
        border-radius: 1.25rem;
        width: 100%;
        /* clips the image corners */
        overflow: hidden;
        aspect-ratio: 1.09333333;
        display: block;
        position: relative;
    }
    #gallery-380 .cs-image img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes it act like a background image */
        object-fit: cover;
    }
    #gallery-380 .cs-hover-box {
        padding: 1rem;
        border-radius: 1rem;
        background-color: rgba(0, 124, 251, 0.12);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        position: absolute;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        z-index: 10;
    }
    #gallery-380 .cs-icon {
        /* 40px - 72px */
        width: clamp(2.5rem, 9.4vw, 4.5rem);
        height: clamp(2.5rem, 9.4vw, 4.5rem);
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        /* pushes to the right */
        order: 1;
    }
    #gallery-380 .cs-icon img {
        /* 16px - 24px */
        width: clamp(1rem, 3vw, 1.5rem);
        height: auto;
    }
    #gallery-380 .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: #fff;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-380 .cs-gallery {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #gallery-380 .cs-item {
        width: 48.5%;
    }
    #gallery-380 .cs-item:hover .cs-hover-box {
        opacity: 1;
    }
    #gallery-380 .cs-item:hover .cs-icon,
    #gallery-380 .cs-item:hover .cs-h3 {
        transform: translateY(0);
        opacity: 1;
    }
    #gallery-380 .cs-hover-box {
        height: auto;
        opacity: 0;
        top: 1.5rem;
        right: 1.5rem;
        bottom: 1.5rem;
        left: 1.5rem;
        flex-direction: column;
        justify-content: center;
        /* prevents the mouse from interacting with it */
        pointer-events: none;
        transition: opacity 0.6s;
    }
    #gallery-380 .cs-icon {
        opacity: 0;
        /* reset the order */
        order: initial;
        /* send it 10px up to animate from on hover */
        transform: translateY(-0.625rem);
        transition:
            transform 0.6s,
            opacity 0.6s;
    }
    #gallery-380 .cs-h3 {
        opacity: 0;
        /* send it 10px down to animate from on hover */
        transform: translateY(0.625rem);
        transition:
            transform 0.6s,
            opacity 0.6s;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #gallery-380 .cs-item {
        width: 26%;
        max-width: 19.0625rem;
    }
    #gallery-380 .cs-image {
        /* 300px - 400px */
        height: clamp(18.75rem, 30vw, 25rem);
        aspect-ratio: 1;
    }
}
</style>
