---

---

<!-- ============================================ --><!--            Gallery377              --><!-- ============================================ -->
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->
<section id="gallery-377">
<div class="cs-container">
<div class="cs-content">
<span class="cs-topper">Our Portfolio</span>
<h2 class="cs-title">Some Work from Our Memorable Gallery</h2>
<p class="cs-text">
At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
</p>
</div>
<div class="cs-gallery">
<a class="cs-item" href="">
<div class="cs-hover-box">
<picture class="cs-icon" aria-hidden="true">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
</picture>
<h3 class="cs-h3">House Cleaning</h3>
</div>
<picture class="cs-image">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery1.jpg">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery1.jpg">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery1.jpg" alt="gallery" width="305" height="400">
</picture>
</a>
<a class="cs-item" href="">
<div class="cs-hover-box">
<picture class="cs-icon" aria-hidden="true">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
</picture>
<h3 class="cs-h3">House Cleaning</h3>
</div>
<picture class="cs-image">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery2.jpg">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery2.jpg">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery2.jpg" alt="gallery" width="305" height="400">
</picture>
</a>
<a class="cs-item" href="">
<div class="cs-hover-box">
<picture class="cs-icon" aria-hidden="true">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
</picture>
<h3 class="cs-h3">House Cleaning</h3>
</div>
<picture class="cs-image">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery3.jpg">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery3.jpg">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery3.jpg" alt="gallery" width="305" height="400">
</picture>
</a>
<a class="cs-item" href="">
<div class="cs-hover-box">
<picture class="cs-icon" aria-hidden="true">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
</picture>
<h3 class="cs-h3">House Cleaning</h3>
</div>
<picture class="cs-image">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery4.jpg">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery4.jpg">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery4.jpg" alt="gallery" width="305" height="400">
</picture>
</a>
<a class="cs-item" href="">
<div class="cs-hover-box">
<picture class="cs-icon" aria-hidden="true">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
</picture>
<h3 class="cs-h3">House Cleaning</h3>
</div>
<picture class="cs-image">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery5.jpg">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery5.jpg">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery5.jpg" alt="gallery" width="305" height="400">
</picture>
</a>
<a class="cs-item" href="">
<div class="cs-hover-box">
<picture class="cs-icon" aria-hidden="true">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
</picture>
<h3 class="cs-h3">House Cleaning</h3>
</div>
<picture class="cs-image">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery6.jpg">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery6.jpg">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery6.jpg" alt="gallery" width="305" height="400">
</picture>
</a>
<a class="cs-item" href="">
<div class="cs-hover-box">
<picture class="cs-icon" aria-hidden="true">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
</picture>
<h3 class="cs-h3">House Cleaning</h3>
</div>
<picture class="cs-image">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery7.jpg">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery7.jpg">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery7.jpg" alt="gallery" width="305" height="400">
</picture>
</a>
<a class="cs-item" href="">
<div class="cs-hover-box">
<picture class="cs-icon" aria-hidden="true">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
</picture>
<h3 class="cs-h3">House Cleaning</h3>
</div>
<picture class="cs-image">
<source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery8.jpg">
<source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery8.jpg">
<img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery8.jpg" alt="gallery" width="305" height="400">
</picture>
</a>
</div>
</div>
</section>


<style lang="less">
    /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-377 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-gallery {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: 350/16rem;
            position: relative;
        }

        .cs-image {
            border-radius: 20/16rem;
            width: 100%;
            /* clips the image corners */
            overflow: hidden;
            aspect-ratio: 328/300;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }

        .cs-hover-box {
            padding: 16/16rem;
            border-radius: 16/16rem;
            background-color: rgba(0, 124, 251, 0.12);
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 24/16rem;
            position: absolute;
            left: 16/16rem;
            right: 16/16rem;
            bottom: 16/16rem;
            z-index: 10;
        }

        .cs-icon {
            /* 40px - 72px */
            width: clamp(2.5rem, 9.4vw, 4.5rem);
            height: clamp(2.5rem, 9.4vw, 4.5rem);
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            /* pushes to the right */
            order: 1;

            img {
                /* 16px - 24px */
                width: clamp(1rem, 3vw, 1.5rem);
                height: auto;
            }
        }

        .cs-h3 {
            font-size: 20/16rem;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: #fff;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-377 {
        .cs-gallery {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .cs-item {
            width: 48.5%;
            &:hover {
                .cs-hover-box {
                    opacity: 1;
                }
                .cs-icon,
                .cs-h3 {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }

        .cs-hover-box {
            height: auto;
            opacity: 0;
            top: 24/16rem;
            right: 24/16rem;
            bottom: 24/16rem;
            left: 24/16rem;
            flex-direction: column;
            justify-content: center;
            /* prevents the mouse from interacting with it */
            pointer-events: none;
            transition: opacity 0.6s;
        }

        .cs-icon {
            opacity: 0;
            /* reset the order */
            order: initial;
            /* send it 10px up to animate from on hover */
            transform: translateY(-0.625rem);
            transition:
                transform 0.6s,
                opacity 0.6s;
        }

        .cs-h3 {
            opacity: 0;
            /* send it 10px down to animate from on hover */
            transform: translateY(0.625rem);
            transition:
                transform 0.6s,
                opacity 0.6s;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #gallery-377 {
        .cs-item {
            width: 23.7%;
        }

        .cs-image {
            /* 300px - 400px */
            height: clamp(18.75rem, 30vw, 25rem);
            aspect-ratio: 1;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-377 {
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }
        }
    }
}
</style>
